[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][1]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=-1
layoutId=
location=4
name=Default Dock
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=25
timerShow=50
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][1][Applets][2]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][1][Applets][2][Configuration]
PreloadWeight=0

[Containments][1][Applets][2][Configuration][General]
animationLauncherBouncing=false
isInLatteDock=true
launchers59=applications:firefox.desktop,applications:org.kde.dolphin.desktop,applications:org.kde.konsole.desktop,file:///latte-separator1.desktop,file:///var/lib/flatpak/exports/share/applications/net.ankiweb.Anki.desktop,applications:jetbrains-idea.desktop,file:///var/lib/flatpak/exports/share/applications/com.jetbrains.PyCharm-Professional.desktop,file:///var/lib/flatpak/exports/share/applications/com.jetbrains.CLion.desktop,file:///latte-separator2.desktop,applications:telegramdesktop.desktop,file:///var/lib/flatpak/exports/share/applications/org.signal.Signal.desktop,file:///usr/share/applications/discord.desktop,file:///latte-separator3.desktop,applications:org.kde.kcalc.desktop,applications:org.manjaro.pamac.manager.desktop,applications:systemsettings.desktop

[Containments][1][ConfigDialog]
DialogHeight=600
DialogWidth=586

[Containments][1][Configuration]
PreloadWeight=0

[Containments][1][General]
activeWindowFilter=FromAllScreens
advanced=false
alignmentUpgraded=true
appletOrder=2
backgroundRadius=25
backgroundShadowSize=25
blurEnabled=false
configurationSticker=true
durationTime=x1
editBackgroundOpacity=0.5
hideFloatingGapForMaximized=true
iconSize=48
lengthExtMargin=10
minLength=29
panelShadows=false
panelSize=100
panelTransparency=50
plasmaBackgroundForPopups=true
screenEdgeMargin=5
shadowOpacity=50
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
solidBackgroundForMaximized=true
tasksUpgraded=true
themeColors=SmartThemeColors
thickMargin=15
titleTooltips=false
zoomLevel=0

[Containments][1][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][1][Indicator][org.kde.latte.default][General]
activeStyle=Dot
thickMargin=0.06

[Containments][25]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=16
layoutId=
location=3
maxLength=100
name=Empty Panel
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][25][Applets][26]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][25][Applets][26][Configuration]
PreloadWeight=5
SystrayContainmentId=27

[Containments][25][Applets][41]
immutability=1
plugin=org.kde.latte.spacer

[Containments][25][Applets][41][Configuration]
PreloadWeight=0

[Containments][25][Applets][41][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][25][Applets][41][Configuration][General]
containmentType=Latte
lengthType=Expanding

[Containments][25][Applets][42]
immutability=1
plugin=com.pajuelo.plasmaConfSaver

[Containments][25][Applets][42][Configuration]
PreloadWeight=10

[Containments][25][Applets][43]
immutability=1
plugin=org.kde.plasma.eventcalendar

[Containments][25][Applets][43][Configuration]
PreloadWeight=0

[Containments][25][Applets][43][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][25][Applets][43][Configuration][General]
clockLineBold1=true
clockTimeFormat1='<font color="#3daee9">'ddd<>d'</font>' hh:mm '<font color="#3daee9">'AP'</font>
v71Migration=true
v72Migration=true

[Containments][25][Applets][44]
immutability=1
plugin=org.kde.latte.spacer

[Containments][25][Applets][44][Configuration]
PreloadWeight=0

[Containments][25][Applets][44][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][25][Applets][44][Configuration][General]
containmentType=Latte
lengthType=Expanding

[Containments][25][Applets][47]
immutability=1
plugin=org.kde.plasma.showActivityManager

[Containments][25][Applets][47][Configuration]
PreloadWeight=0

[Containments][25][Applets][47][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][25][Applets][48]
immutability=1
plugin=org.kde.plasma.pager

[Containments][25][Applets][48][Configuration]
PreloadWeight=0

[Containments][25][Applets][49]
immutability=1
plugin=org.kde.windowtitle

[Containments][25][Applets][49][Configuration]
PreloadWeight=0

[Containments][25][Applets][49][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][25][Applets][49][Configuration][General]
containmentType=Latte
showIcon=false

[Containments][25][Applets][50]
immutability=1
plugin=org.kde.plasma.kickoff

[Containments][25][Applets][50][Configuration]
PreloadWeight=100

[Containments][25][Applets][50][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][25][Applets][50][Configuration][General]
favoritesDisplay=1
favoritesPortedToKAstats=true
systemFavorites=suspend\\,hibernate\\,reboot\\,shutdown

[Containments][25][Applets][50][Shortcuts]
global=

[Containments][25][Applets][51]
immutability=1
plugin=org.kde.latte.separator

[Containments][25][Applets][51][Configuration]
PreloadWeight=0

[Containments][25][Applets][52]
immutability=1
plugin=org.kde.kdeconnect

[Containments][25][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][25][Configuration]
PreloadWeight=0

[Containments][25][General]
alignment=10
alignmentUpgraded=true
appletOrder=50;49;51;47;48;44;43;41;42;52;26
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
backgroundAllCorners=true
backgroundRadius=35
configurationSticker=true
dragActiveWindowEnabled=true
hideFloatingGapForMaximized=true
iconSize=24
inConfigureAppletsMode=true
maxLength=99
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=19
plasmaBackgroundForPopups=true
screenEdgeMargin=4
shadowOpacity=25
shadows=None
shadowsUpgraded=true
solidBackgroundForMaximized=true
splitterPosition=6
splitterPosition2=10
taskScrollAction=ScrollNone
tasksUpgraded=true
themeColors=SmartThemeColors
thickMargin=5
titleTooltips=false
zoomLevel=0

[Containments][25][Indicator]
customType=org.kde.latte.unity
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.plasma

[Containments][25][Indicator][org.kde.latte.default][General]
reversed=true

[Containments][25][Indicator][org.kde.latte.plasma][General]
lengthPadding=0.19

[Containments][27]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=-1
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][27][Applets][28]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][27][Applets][28][Configuration]
PreloadWeight=0

[Containments][27][Applets][29]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][27][Applets][29][Configuration]
PreloadWeight=0

[Containments][27][Applets][30]
immutability=1
plugin=org.kde.plasma.volume

[Containments][27][Applets][30][Configuration]
PreloadWeight=5

[Containments][27][Applets][30][Configuration][General]
currentTab=streams

[Containments][27][Applets][31]
immutability=1
plugin=org.kde.kdeconnect

[Containments][27][Applets][31][Configuration]
PreloadWeight=0

[Containments][27][Applets][32]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][27][Applets][32][Configuration]
PreloadWeight=0

[Containments][27][Applets][33]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][27][Applets][33][Configuration]
PreloadWeight=0

[Containments][27][Applets][34]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][27][Applets][34][Configuration]
PreloadWeight=0

[Containments][27][Applets][35]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][27][Applets][35][Configuration]
PreloadWeight=0

[Containments][27][Applets][36]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][27][Applets][36][Configuration]
PreloadWeight=0

[Containments][27][Applets][37]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][27][Applets][37][Configuration]
PreloadWeight=0

[Containments][27][Applets][38]
immutability=1
plugin=org.kde.plasma.battery

[Containments][27][Applets][38][Configuration]
PreloadWeight=0

[Containments][27][Applets][39]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][27][Applets][39][Configuration]
PreloadWeight=0

[Containments][27][Applets][40]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][27][Applets][40][Configuration]
PreloadWeight=0

[Containments][27][General]
extraItems=org.kde.plasma.clipboard,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.kdeconnect,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.printmanager,org.kde.plasma.notifications,org.kde.plasma.nightcolorcontrol
knownItems=org.kde.plasma.clipboard,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.kdeconnect,org.kde.plasma.manage-inputmethod,org.kde.plasma.mediacontroller,org.kde.plasma.keyboardlayout,org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.printmanager,org.kde.plasma.notifications,org.kde.plasma.nightcolorcontrol

[LayoutSettings]
activities=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=true
icon=
lastUsedActivity=
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
version=2
